    html {
        font-family: 'Open Sans', sans-serif;
        background-color: green;
    }
    
    h1 {
        font-size: 50px;
        background-color: green;
        color: white;
    }
    
    .card-body-admin-dashboard {
        border: 5px solid white;
        width: 200px;
        height: 150px;
        color: white;
    }
    
    body {
        background-color: green !important;
        color: white !important;
    }
    
    .container-fluid {
        background-color: green;
    }
    
    .flex-container {
        display: flex;
        background-color: green;
    }
    
    span {
        color: white !important;
    }
    
    .adminNav {
        background-color: black;
    }
    
    .sidenav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: green;
        flex-direction: column;
    }
    
    .nav-link {
        color: white;
    }
    
    .createButton {
        color: white;
        background-color: green;
        height: 25px;
    }
    
    th {
        color: white;
    }
    
    .link {
        color: white;
    }
    
    .deleteButton {
        background-color: green;
        color: white;
    }
    
    .deleteCartButton {
        background-color: green;
        color: white;
    }
    
    .modifyButton {
        background-color: green;
        color: white;
    }
    
    .updateCartButton {
        background-color: green;
        color: white;
    }
    
    td {
        color: white;
    }
    
    table {
        margin-left: 50px;
    }
    
    form {
        background-color: green;
        position: static;
        margin-left: 45%;
        margin-top: 5%;
    }
    
    .formDeleteButtonAdminPanel {
        background-color: green;
        margin-left: 0;
        margin-top: 0;
    }
    
    .sendEmailForm {
        background-color: green;
        margin-left: 0;
        margin-top: 0;
    }
    
    label {
        color: white;
    }
    
    .pageTitle {
        margin-bottom: 0rem;
    }
    
    .fileInput {
        color: white;
    }
    
    .contactDetails {
        background-color: green;
        color: white;
        position: static;
        left: 5px;
        bottom: 40px;
        margin-bottom: 0rem;
    }
    
    ul {
        position: static;
    }
    
    p {
        background-color: green;
        color: white;
        margin-bottom: 0rem;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
        background-color: green;
    }
    
    li {
        float: left;
    }
    
    .navBarLinks {
        display: block;
        padding: 8px;
        background-color: green;
        color: white;
    }
    
    .text-center {
        background-color: black;
    }
    
    .footerLink {
        color: yellow;
    }
    
    .footer-bottom {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    
    .adminLoginLabel {
        text-align: left;
    }
    
    .news-page {
        background-color: green;
    }
    
    .card {
        background-color: green;
        width: 25%;
        flex-direction: row;
        color: white;
    }
    
    .rowProduct {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .productImage {
        width: 65%;
        height: 45%;
    }
    /** below code used for footer  **/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body,
    form {
        height: 100%;
    }
    
    #footer-container {
        min-height: 75%;
    }
    
    #main {
        overflow: auto;
        padding-bottom: 100px;
    }
    
    .footer {
        position: relative;
        height: 100px;
        margin-top: -100px;
        clear: both;
    }
    /** above code used for footer  **/
    /*** {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;

    }

    #contact-container {
        min-height: 50%;
    }

    #main {
        overflow: auto;
        padding-bottom: 100px;
    }

    .contactDetails {

        position: relative;
        height: 100px;
        margin-top: -100px;
        clear: both;
    }

**/
    /*
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzxap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
*/