    html {
        font-family: 'Open Sans', sans-serif;
        background-color: #0D9C4A;
    }

    h1 {
        font-size: 50px;
        background-color: #0D9C4A;
        color: #000000;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .card-body {
        text-align: center;
    }

    .card-body-admin-dashboard {
        border: 5px solid #000000;
        width: 200px;
        height: 160px;
        color: #000000;
        /* made change for box on dashboard */
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 10px 10px #888888;
        text-align: center;
        margin-bottom: 2.2rem;
        clear: both;
        display: block;
        flex: 0 0 44.444444%;

    }

    .productLink {
        font-size: 13px;
    }

    .serviceLink {
        font-size: 14px;
    }

    .cardTitleDashboard {
        text-align: center;
    }

    .adminDashboardCount {
        margin-bottom: 0;
        text-align: center;
    }

    body {
        background-color: white !important;
        color: #000000 !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
    }

    .container-fluid {
        background-color: white;
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow-x: hidden;

    }

    .flex-container {
        display: flex;
        background-color: white;
        flex-wrap: wrap;
        flex-direction: row;
    }

    span {
        color: #000000 !important;
    }

    .adminNav {
        background-color: #0D9C4A;
        margin-bottom: 0;
    }

    .sideNav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: white;
        flex-direction: column;
    }

    .wrapper {
        background-color: white;
        color: #000000;
    }

    .sideNavItem {
        border-style: groove;
        border-color: #FFDD00;
        background-color: #FFDD00;
        width: 90px;
    }

    .nav-link {
        color: #000000;
    }

    .createButton {
        color: #000000;
        background-color: #FFDD00;
        height: 25px;
    }

    th {
        color: #000000;
    }

    .link {
        color: #000000;
    }

    .deleteButton {
        background-color: #FFDD00;
        color: #000000;
    }

    .deleteCartButton {
        background-color: #FFDD00;
        color: #000000;
    }

    .modifyButton {
        background-color: #FFDD00;
        color: #000000;
    }

    .checkOutForm {
        background-color: white;
    }

    .updateCartButton {
        background-color: #FFDD00;
        color: #000000;
    }

    td {
        color: #000000;
    }

    table {
        margin-left: 8px;
        margin-top: 50px;
    }

    .price {
        text-align: center;
    }

    form {
        background-color: white;
        position: static;
        margin-left: 45%;
        margin-top: 5%;
    }

    .formPage {
        background-color: white;
        position: static;
        margin-left: 30%;
        margin-top: 5%;
    }

    .formDeleteButtonAdminPanel {
        background-color: white;
        margin-left: 0;
        margin-top: 0;
    }

    .formDeleteProductAdmin {
        margin-left: auto;
        margin-top: auto;
        background-color: white;
    }

    .formDeleteAdminProductButton {
        background-color: red;
        margin-left: auto;
        margin-top: auto;
    }

    .sendEmailForm {
        background-color: white;
        margin-left: 0;
        margin-top: 0;
    }

    .navBarLogo {
        width: 200px;
        height: 100px;
    }

    .navBarTop {
        background-color: #0D9C4A;
    }

    .navbar {
        background: white !important;
        padding: 20px;
    }

    label {
        color: #000000;
    }

    .pageTitle {
        margin-bottom: 0rem;
    }

    .fileInput {
        color: #000000;
    }

    .contactDetails {
        background-color: #000000;
        color: white;
        position: static;
        left: 5px;
        bottom: 40px;
        margin-bottom: 0rem;
    }

    ul {
        position: static;
    }

    p {
        background-color: white;
        color: #000000;
        margin-bottom: 0rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
        /* do not use for shop nav bar
        background-color: #0D9C4A; */
    }

    li {
        float: left;
    }

    .navBarLinks {
        display: block;
        padding: 5px;
        background-color: #0D9C4A;
        color: #000000;
    }

    .text-center {
        background-color: #000000;
        color: white;
        margin-bottom: 0rem;
    }

    .footerLink {
        color: #FFDD00;
    }

    .footer-bottom {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .adminLoginLabel {
        text-align: left;
    }

    .adminLoginForm {
        background-color: white;
    }

    .btn {
        background-color: #FFDD00;
        color: #000000;

    }

    .btn-info {
        background-color: #FFDD00 !important;
        color: black !important;
    }

    .news-page {
        background-color: #0D9C4A;
    }

    .card {
        background-color: white;
        width: 25%;
        flex-direction: row;
        color: #000000;
        height: 900px;
    }

    .imageHeight {
        height: 402px;
    }

    .rowTitle {
        background-color: #0D9C4A;
    }

    .rowProduct {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .productImage {
        width: 65%;
        height: 45%;
    }

    /** below code used for footer  **/

    * {
        margin: 0;
        padding: 0;
    }

    .form-groupNameAndEmail {
        width: 25%;
    }

    .form-groupMessage {
        width: 50%;
    }

    html,
    body,
    form {
        height: 100%;
    }

    #main {
        overflow: auto;
        padding-bottom: 100px;
    }

    .footer {
        position: relative;
        margin-top: -100px;
        clear: both;
    }



    @media screen and (max-height: 450px) {
        .shop_header {
            padding-top: 15px;
        }

        .shop_header a {
            font-size: 18px;
        }
    }

    .shop_header {
        padding: 20px;
        background: #0D9C4A;
        padding-bottom: 5px;
    }

    .shop_header_tab li {
        list-style: none;
        display: inline-block;
        background: #FFDD00;
        padding: 5px 20px;
        border: 5px double #000000;
        margin-right: 25px;
        transition: 0.5s;
    }

    .shop_header_tab li:hover {
        background: #ccc;
    }

    .shop_header_tab li a {
        text-decoration: none;
        color: #000;
    }
