    .margin-top-20 {
        margin-top: 20px;
        float: left;
    }
    
    .feature-img {
        max-height: 200px;
    }
    
    .footer-bottom {
        padding: 20px;
        margin-top: 20px;
        background: green;
    }
    
    .collapse {
        padding: 20px;
        margin-top: -20px;
        background: green;
    }